<section class="left-footer">
  <h2>Footer</h2>
  <ul>
    <li><a href="index.php">Home</a></li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </li>
  </ul>
</section>
<section class="right-footer">
  <h2>Footer</h2>
  <ul>
    <li><a href="index.php">Home</a></li>
    <li>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.d
    </li>
  </ul>
</section>
