{% extends "structures/main.html" %} {% block content %}
<section class="hero">
  <div>
    <h1>"Quisquam, quos.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipi sicing elit. Quisquam, quos.
      Lorem ipsum dolor sit amet consectetur adipisicing elit"
    </p>
    <p>
      <a href="#" class="btn">Read More...</a>
    </p>
  </div>
</section>
<section class="cards">
  <div class="card"><h3>Card</h3></div>
  <div class="card"><h3>Card</h3></div>
  <div class="card"><h3>Card</h3></div>
</section>
<h2>Main Page</h2>
<p>
  Lorem ipsum dolor sit amet consectetur adipi sicing elit. Quisquam, quos.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Quisquam, quos.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipi sicing elit. Quisquam, quos.
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem
  ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos. Lorem ipsum
  dolor sit amet consectetur adipisicing elit. Quisquam, quos.
</p>

{% endblock %}
