<form action="/" id="search-form">
  <input
    type="text"
    id="search-input"
    name="search"
    value=""
    placeholder="Search products..."
  />
  <svg
    width="20px"
    height="20px"
    viewBox="0 0 512 512"
    xmlns="http://www.w3.org/2000/svg"
  >
    <polyline
      points="112 352 48 288 112 224"
      style="
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 32px;
      "
    />
    <path
      d="M64,288H358c58.76,0,106-49.33,106-108V160"
      style="
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 32px;
      "
    />
  </svg>
  <button type="submit" class="hide">Search</button>
  <span>
    <svg
      width="20px"
      height="20px"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      class="search-close"
      id="search-close"
    >
      <g>
        <path
          d="M7 7.00006L17 17.0001M7 17.0001L17 7.00006"
          stroke-width="2.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </g>
      <defs>
        <clipPath id="clip0_429_11083">
          <rect width="24" height="24" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </span>
</form>
